<!doctype html>
<html ng-app="app">
<head>
    <title>Document</title>
</head>
<body ng-controller="ctrl">
    <h3>Enter color</h3>
    <input ng-model="msg"/>
    <span ng-style="{'color': color}">{{ color }}</span>
    <div id="color-container"></div>
    <h3>Or generate one</h3>
    <button ng-click="randomColor()">Random color</button>
    <button ng-click="insertColor()">Insert color</button>

    <script src="../libs/angular.min.js"></script>
    <script src="1colors.js"></script>
</body>
</html>