<html>
<head>
    <!--<script src="../libs/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
    <script src="flow.js"></script>
    <script src="services/UnicornService.js"></script>
</head>
<body ng-controller="ctrl as ct">
{{ct.asdf}}
{{asdf}}
<input ng-model="ct.data.www">
{{ct.data.www}}
<input ng-model="asdf">

<br>
evaluate: <input ng-model="ct.toEvaluate" ng-model-options="{debounce: 500}">
<br>
evaluated: {{ ct.evaluated }}
<br>
<button ng-click="ct.click()">log scope</button>
<script>
    angular.bootstrap(document, ['app']);
</script>
<!-- -->
<!-- -->
<!-- -->
</body>
</html>