<!doctype html>
<html ng-app="app">

<head>
    <title>ADT implemented in ng</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="panel main" ng-controller="ctrl">
      <header>eCare Administration Tool</header>
      <section>
        <ul class="plugin-list">
          <li ng-repeat="plugin in plugins" ng-click="selectPlugin(plugin)">{{ plugin.name }} {{plugin.template}}</li>
        </ul>
        <!-- the plugin contents -->
        <div id="plugin_content"></div>
      </section>
    </div>

    <script src="../../../apps/libs/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="usermanager/usm-controller.js"></script>
</body>

</html>
